[Desktop Entry]
Version=1.0
Name=Cromite
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
# Gnome and KDE 3 uses Comment.
Comment=A Bromite fork with ad blocking and privacy enhancements; take back your browser!
Comment[en_GB]=A Bromite fork with ad blocking and privacy enhancements; take back your browser!
Comment[es]=Una bifurcación de Bromite con bloqueo de anuncios y mejoras de privacidad; ¡Recupera tu navegador!
Exec=/usr/bin/cromite/chrome %U
StartupNotify=true
Terminal=false
Icon=/usr/bin/cromite/product_logo_48.png
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[en_GB]=New Window
Name[es]=Nueva ventana
Exec=/usr/bin/cromite/chrome

[Desktop Action new-private-window]
Name=New Incognito Window
Name[en_GB]=New Incognito window
Name[es]=Nueva ventana de incógnito
Icon=view-private
Exec=/usr/bin/cromite/chrome --incognito
